html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: black;
	font-family: sans-serif;
}
#content {
	display: flex;
	flex-direction: column;
	background-color: #444;
}
.contentBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	flex: 1;
	padding: 10px 20px 20px;
}
.contentBody > h1 {
	font-size: 4rem;
	margin: 0px;
}
.contentBody > div {
	background-color: rgba(0, 0, 0, 0.5);
	flex: 1;
	width: 100%;
	color: white;
}
.contact {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.menu > div {
	padding: 40px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 30px;
	justify-content: center;
}
.menucard {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid blue;
}
.menucard:hover {
	box-shadow: 5px 5px 10px blue;
}

.contactcard {
	flex: 1;
	display: flex;
	margin: 20px;
	padding: 20px;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	box-shadow: 0px 0px 5px 5px cyan;
	gap: 20px;
	font-size: 2rem;
	align-items: center;
}
.credentials {
	width: 400px;
}
.contactImg {
	width: 200px;
	height: 200px;
	border-radius: 20px;
}

header,
footer {
	display: flex;
	flex-direction: column;
}
header > div,
footer {
	pointer-events: none;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	height: 80px;
	gap: 20px;
}
header > div > img {
	pointer-events: none;
	user-select: none;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 5px;
	font-size: 35px;
	padding: 0px 10px;
}
ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 0px;
	padding: 0px;
	background-color: blue;
	flex: 1;
	height: 60px;
	cursor: default;
}
ul li:hover {
	z-index: 1;
	box-shadow: 0px 0px 10px 10px cyan;
}
