@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap");

html,
body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: black;
	/* font-family: "Caveat", cursive; */
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 1.15rem;
}

header > div {
	font-family: "Ga Maamli", sans-serif;
	font-size: 60px;
}

#content {
	display: flex;
	flex-direction: column;
	background-color: #444;
}
.contentBody {
	padding: 0px;
	margin: 0px;
}
.contentBody > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	flex: 1;
	padding: 10px 20px 20px;
	margin: 0px;
}
.contentBody > div > h1 {
	font-size: 4rem;
	font-family: "Lobster", sans-serif;
	margin: 0px;
	text-shadow: 0px 5px 1px blue, 5px 0px 1px violet, -5px 0px 1px orange,
		0px -5px 1px red;
}
.contentBody > div > div {
	background-color: rgba(0, 0, 0, 0.5);
	flex: 1;
	width: calc(100% - 15px);
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	padding: 0px 15px;
	color: white;
}

/* About */
.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 0px; /* 
	padding: 0px; */
}
.paragraphContainer {
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
	padding: 0px;
	margin: 0px;
}
.about p {
	max-width: 900px;
	font-size: 30px;
	text-shadow: 1px 1px 1px blue;
	padding: 0px 20px;
}
.about h2 {
	font-size: 50px;
	margin-bottom: 0px;
}

.offers {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: start;
	/* align-items: start; */
	gap: 10px;
}

.offers > li {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 30px;
	/* text-shadow: 4px 4px 10px blue; */
	cursor: pointer;
}

.imageGal {
	display: flex;
	width: fit-content;
	position: relative;
	background-color: black;
	transform-origin: top;
	margin: 0px 40px;
	padding: 10px 20px;
	box-shadow: 2px 2px 6px blue;
	border-radius: 10px;
	transform: scaleY(1, 1);
	transition: transform 0.8s;
	z-index: 2;
}
.imageGal.transitioning {
	transition: transform 0.3s;
	transform: scale(0, 1);
}
.imageGal.inactive {
	opacity: 0;
	transform: scale(0.01, 1);
	position: absolute;
}
.imageGal > img {
	width: clamp(340px, 40%, 600px);
	height: auto;
	max-height: 340px;
	border-radius: 0px 30px 30px 0px;
	box-shadow: 2px 0px 5px violet;
}
.imageGal > div {
	min-width: 340px;
}

.aboutContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.aboutContent > h1 {
	text-shadow: 5px 5px 10px red, -5px -5px 10px red;
	font-size: 40px;
}
.aboutContent > div {
	text-shadow: 5px 5px 10px violet;
	font-size: calc(1.5vw + 10px);
}

@media /* (min-width: 760px) and */(max-width: 900px) {
	.imageGal {
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 760px) {
	.about > h2 {
		text-align: center;
		font-size: calc(6vw + 5px);
		max-width: 360px;
		margin: 20px 0px;
	}
	.imageGal {
		margin: 0px;
		padding: 20px 0px;
		min-width: 360px;
		width: 100%;
	}
	.imageGal > img {
		border-radius: 0px 0px 30px 30px;
		box-shadow: 0px 2px 5px violet;
	}
	.contentBody > div {
		width: 100vw !important;
		padding: 0px;
		margin: 0px;
	}
	.aboutContent > div {
		font-size: 20px;
	}
	.contentBody > div > div {
		padding: 0px 5px;
	}
}

/* Menu Styling */
.menu {
	padding: 30px 40px !important;
	width: calc(100% - 80px) !important;
}
.menu > div {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;
	justify-content: center;
}
.menucard {
	display: flex;
	pointer-events: all;
	flex-direction: column;
	align-items: center;
	border: 1px solid blue;
	position: relative;
	background-color: black;
	/* max-width: 450px; */
}
.menucard:hover {
	box-shadow: 5px 5px 10px blue;
}
.menucard.active {
	box-shadow: 5px 5px 6px violet;
	border: 1px solid violet;
}
.menucard.active:hover {
	box-shadow: 5px 5px 6px violet;
}

.menucard > div {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 40px);
	padding: 0px 20px;
}

.ingredients {
	position: absolute;
	top: 99%;
	border: 1px solid blue;
	border-top: none;
	transform-origin: top;
	background-color: black;
	height: 60px;
	z-index: 2;
	transform: scaleY(0);
	transition: transform 0.2s;
}
.menucard.active .ingredients {
	border: 1px solid violet;
	border-top: none;
	z-index: 2;
	box-shadow: 5px 5px 6px violet;
	transform: scaleY(1);
}

/* Contact styling */
.contact {
	color: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.contact img {
	width: 3rem;
	height: 3rem;
}

.contactcard {
	display: flex;
	margin: 20px;
	padding: 10px;
	max-width: 25rem;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	box-shadow: 0px 0px 5px 5px cyan;
	gap: 10px;
	font-size: 2rem;
	align-items: center;
}

/* Header Footer */
header,
footer {
	display: flex;
	flex-direction: column;
}
header > div,
footer {
	pointer-events: none;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	height: 80px;
	gap: 20px;
}
.footer p {
	font-size: 24px;
}
header > div > img {
	pointer-events: none;
	user-select: none;
}
#buttons {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 5px;
	font-size: 35px;
	font-family: "Lobster", sans-serif;
	padding: 0px 10px;
}
#buttons li {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 0px;
	padding: 0px;
	background-color: blue;
	flex: 1;
	height: 60px;
	cursor: default;
	border-radius: 0px 0px 20px 20px;
	text-shadow: 4px 4px black;
	box-shadow: none;
	transition: background-color 10s, box-shadow 1s;
}
#buttons li:hover {
	transition: background-color 1s;
	text-shadow: 4px 4px violet;
	background-color: #241571;
}
ul li:hover {
	z-index: 1;
	box-shadow: 0px 0px 10px 10px cyan !important;
	background-color: violet;
	transition: background-color 2s;
}
